body {
	background-color: white;
	font-size: 18px;
}

.about {
	border: 2px solid #e86005;
	border-radius: 10px;
	display: table-cell;
	height: 70px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;

	/*background-color:lightsalmon;*/
}
.admin {
	word-wrap: break-word;
}

.big_error {
	color: #e86005;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 50px;
	line-height: 1em;
	text-shadow: 1px 1px 0 rgb(107, -29, -120);
}

.date {
	margin-left: 10px;
	margin-right: 10px;
}

.comments {
	color: grey;
	font-style: italic;
}

.credits {
	color: #e86005;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1em;
	text-shadow: 1px 1px 0 rgb(107, -29, -120);
}

.dev {
	font-size: x-large;
	color: white;
	padding: 5px;
	background-color: red;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.disclaim {
	font-size: 0.3em;
}

.fb_name {
	display: inline-block;
	width: 300px;
}
.fb_button {
	display: inline-block;
	width: 100px;
}

.FBloginButton {
	background: #627aac url(images/facebook_small.png) left no-repeat;
	border-bottom: 1px solid #1a356e;
	border-left: none;
	border-right: 1px solid #29447e;
	border-top: 1px solid #29447e;
	color: white;
	display: inline-block;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	padding-left: 29px;
	padding-right: 7px;
	text-decoration: none;
}

.github {
	background-color: #e5e5e5;
	padding: 5px;
	resize: horizontal;
}

.gold {
	border: 1px solid #999999;
	border-radius: 3px;
	margin-bottom: 3px;
	padding: 10px;
}

.greybox {
	background: #f0f0f0;
	border-top: 1px solid #fff;
	display: inline-flex;
	outline: 1px solid #ddd;
	padding: 5px;
}

.hidden {
	display: none;
}

.highlight_container {
	display: inline-flex;
	margin: 5px;
}
.highlight_body {
	border: 1px solid white;
	display: inline-flex;
	margin-right: 5px;
	min-width: 120px;
	vertical-align: middle;
	padding: 5px;
}

.highlight_product {
	display: inline-flex;
	max-height: 120px;
	padding-right: 12px;
	padding-left: 5px;
	vertical-align: bottom;
	word-break: break-all;
	overflow-wrap: break-word;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
	font-size: 0.5em;
}
.highlight_colour1 {
	background: lemonchiffon;
}
.highlight_colour2 {
	background: NavajoWhite;
}

.image {
	filter: none;
}
.image:hover {
	filter: brightness(200%);
}

.imagenav {
	width: 100%;
}

.imginfo {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid white;
	border-radius: 5px;
	color: red;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	height: 25px;
	left: 5px;
	position: relative;
	text-align: center;
	top: -40px;
	width: 25px;
}

.image_error {
	background-color: red;
	color: white;
	height: 200px;
	width: 800px;
	font-size: 3em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instruments {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.intro {
	height: 800px;
}

.intro-dude {
	margin: 20px;
	height: 200px;
	float: left;
}

.intro_text {
	background-color: rgba(255, 255, 255, 0.75);
	display: table; /* keep the background color wrapped tight */
	padding: 5px;
	margin: 10px;
	font-size: 1.2em;
	border-radius: 10px;
}

.intro_high {
	font-family: tektur;
	font-weight: bold;
}

.leftcontainer {
	display: flex;
}

.leftcolumn {
	width: 230px;
}

.legend_outer {
	margin: 3px;
	width: 100px;
	padding: 3px;
}
.legend_tag {
	font-size: 1em;
}
.legend_line {
	display: flex;
	height: 10px;
	border-style: solid;
	border-width: 1px;
}

.maintable {
	width: 100%;
}

.pagenav {
	width: 150px;
}

.polaroid {
	border: 2px solid white;
	display: inline-flex;
	margin: 2px;
	min-height: 120px;
	min-width: 120px;
	padding: 7px;

	box-shadow:
		inset 0px 0px 7px 0px rgba(0, 0, 0, 1),
		0px 0px 7px 0px rgba(0, 0, 0, 1);
}

.redbox {
	border: 3px solid red;
	height: 120px;
	position: absolute;
	width: 120px;
	z-index: 3;
}

.sidebar {
	color: whitesmoke;
	display: flex;
}

.sidebar-text {
	writing-mode: vertical-rl;
	font: normal bold 36px/1 'arial';
	color: whitesmoke;
	text-shadow: -1px -1px 0px rgba(32, 32, 32, 0.3);
}

.solbuttonDiv {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	margin: 2px;
	text-align: center;
	width: 45px;
}

.solnav {
	width: 70px;
}

.sols {
	width: 230px;
}

.soltags {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
}

.subtitle {
	background: white;
	color: #903a01;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1em;
	padding-bottom: 2px;
}

.tagtable {
	border: 1px solid #999999;
	padding: 3px;
	width: 80%;
}

.title {
	color: black;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
}

/* ------------------------------------- */
.titlebar {
	background-color: #e5e5e5;
	resize: horizontal;
	font-size: 1.3em;
}

.warning {
	background: red;
	color: white;
	outline: 1px solid yellow;
}

/*----thumbnails---------------------------------------------------------------------*/
.thumb-error {
	background: mistyrose;
}

.thumb-final {
	background: repeating-linear-gradient(0deg, white, white 10px, oldlace 10px, oldlace 20px);
}

.thumb-invis {
	background: lemmonchiffon;
}

.thumb-missing {
	background: yellow;
}

.thumb-orig {
	background: repeating-linear-gradient(45deg, white, white 10px, lemonchiffon 10px, lemonchiffon 20px);
}

.thumb-wait1 {
	background: repeating-linear-gradient(45deg, white, white 5px, darkgray 5px, darkgray 10px);
}

.thumb-wait2 {
	background: repeating-linear-gradient(45deg, white, white 7px, silver 7px, silver 15px);
}

.thumb-wait3 {
	background: repeating-linear-gradient(45deg, white, white 10px, gainsboro 10px, gainsboro 20px);
}

.thumb-work {
	background: repeating-linear-gradient(30deg, white, white 5px, hotpink 5px, hotpink 10px);
}

/* ---nav buttons---------------------------------- */
.botnavbut {
	height: 25;
	margin: 0;
	vertical-align: top;
}
.lnavbut {
	margin: 0;
	margin-right: 0;
}
.rnavbut {
	margin: 0;
	margin-left: 0;
}

.topnavbut {
	height: 25;
	margin: 0;
	vertical-align: bottom;
}

/* -----------buttons -------------------------- */
.homebutton {
	height: 35px;
	margin-right: 10px;
	mask-image: radial-gradient(circle, black 60%, darkgray 63%, rgba(0, 0, 0, 0) 65%);
}

.leftarrow {
	background: white url(mb_images/greyleft.png) left no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-left: 30px;
}

.leftarrow:hover {
	background: papayawhip url(mb_images/colourleft.png) left no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-left: 30px;
}

/* ------------------------------------- */
.leftbutton {
	background: white url(mb_images/greyportal.png) left no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-left: 30px;
}

.leftbutton:hover {
	background: papayawhip url(mb_images/colourportal.png) left no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-left: 30px;
}

.rightarrow {
	background: white url(mb_images/greyright.png) right no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-right: 30px;
}

.rightarrow:hover {
	background: papayawhip url(mb_images/colourright.png) right no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-right: 30px;
}

/* ------------------------------------- */
.rightbutton {
	background: white url(mb_images/greyportal.png) right no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-right: 30px;
}

.rightbutton:hover {
	background: papayawhip url(mb_images/colourportal.png) right no-repeat;
	background-size: contain;
	border-radius: 15px;
	height: 30px;
	padding: 5px;
	padding-right: 30px;
}

/* ------------------------------------- */
.roundbutton {
	background: white;
	border-radius: 15px;
	height: 30px;
	width: 18px;
	margin: 1px;
}

.tracing {
	color: #3b3c36;
	font-family: courier;
	font-size: 14px;
}
.debug_extra_warning {
	color: red;
}

.debug_extra {
	color: #483d8b;
	background: #f9f9f9;
	padding: 10px;
	border-radius: 4px;
}
.debug {
	color: #006400;
	background: #f9f9f9;
	padding: 10px;
	border-radius: 4px;
}
