<p>
<div class="w3-panel w3-leftbar w3-padding-large w3-theme-l4 w3-border-red w3-round-large w3-monospace disclaim">
    We are using cookies to give you the best experience on our site. Cookies are files stored in your browser and are
    used by most websites to help personalise your web experience.
    By continuing to use our website without changing the settings, you are agreeing to our use of cookies.
</div>
<div class="w3-panel w3-leftbar w3-padding-large w3-theme-l5 w3-border-red w3-round-large disclaim">
    <h2>Dislaimer</h2>
    <p>
        Chicken Katsu is not responsible for, and expressly disclaims all liability for, damages of any kind arising out
        of use, reference to, or reliance on any information contained within the site. While the information contained
        within the site is periodically updated, no guarantee is given that the information provided in this website is
        correct, complete, and up-to-date.
    </p>
    <p>
        Although www.mars-browser.co.uk may contain links providing direct access to other Internet resources,
        including websites, Chicken Katsu,
        as the owner and operator of www.mars-browser.co.uk is not responsible for the accuracy or content of
        information contained in these sites.
    </p>
    <p>
        <b>This web site is not affiliated with JPL or NASA.</b>
    </p>
</div>
</div>